@import 'variables';

.home {
  height: calc(100vh - 60px);
  display: flex;
  align-items: center;
  color: $white;

  @media all and (max-width: $gutter * 40) {
    padding: 0;
    align-items: flex-start;
  }

  &-content {
    text-align: center;

    h1 {
      margin-top: 0;
      margin-bottom: $gutter * 2;
      font-size: $gutter * 5;
      line-height: 80px;
      font-weight: 800;

      @media all and (max-width: $gutter * 40) {
        font-size: $gutter * 3;
        line-height: 50px;
        margin-top: $gutter * 2;
      }
    }
  }

  &-button-section {
    margin-top: $gutter * 3;

    .button {
      margin: 0 10px;

      @media all and (max-width: $gutter * 40) {
        margin: 10px 0;
        width: 100%;
      }
    }
  }
}
