@import 'variables';

.examples-nav {
  margin-top: $gutter * 2;
  background: #fafafa;
  padding: $gutter;

  @media all and (max-width: $gutter * 40) {
    margin-top: 0;
  }

  nav {

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        margin-bottom: 10px;

        a {
          color: $red;
        }
      }
    }
  }
}
