* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  margin-top: 5rem;
  align-items: center;
  flex-direction: column;
}

.counter {
  margin: 0;
  font-size: 10rem;
}

.btn {
  padding: 1rem 3rem;
  font-size: 25px;
  border-radius: 3px;
  background: salmon;
  border: 0;
  transition: all 0.2s ease-in-out;
  outline: none;
}

.btn:hover {
  transform: translateY(-1px);
}

.btn:active {
  transform: translateY(1px);
}
