* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.container {
  width: 700px;
  margin: 0 auto;
  margin-top: 5rem;
  display: table;
}

.input {
  width: 80%;
  float: left;
  height: 50px;
  font-size: 16px;
  padding-left: 10px;
  border: 2px solid salmon;
  outline: none;
  transition: all 0.2s ease-in-out;
}

.input:focus {
  padding-left: 20px;
}

.btn-todo {
  height: 50px;
  font-size: 16px;
  background: salmon;
  border: 0;
  transition: all 0.2s ease-in-out;
  outline: none;
  float: right;
  width: 20%;
  border: 2px solid salmon;
}

.btn-todo:hover,
.remove-todo:hover {
  transform: translateY(-1px);
  cursor: pointer;
}

.btn-todo:active,
.remove-todo:active {
  transform: translateY(1px);
}

.todos-list {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: baseline;
  list-style: none;
  padding: 0;
  width: 100%;
}

.todos-list li {
  padding: 1rem;
  width: 100%;
  border: 1px solid #eee;
  border-bottom: 0;
}

.todos-list li:last-child {
  border-bottom: 1px solid #eee;
}

.remove-todo {
  transition: all 0.2s ease-in-out;
  float: right;
  padding: 5px 10px;
  border: 0;
  background: transparent;
  color: salmon;
  border: 1px solid salmon;
}
